.row {
  background-color: black;
  color: white;
  padding-top: 20px;
}
.row h3 {
  font-size: 28px;
  text-align: center;
  margin: 20px 0;
}
@media screen and (max-width: 725px) {
  .row h3 {
    font-size: 18px;
  }
}
.row_posters {
  display: flex;
  overflow: hidden;
  overflow: auto;
  overflow-y: hidden;
  overflow-x: auto;
  scroll-behavior: smooth;
  margin-left: 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
.tv_poster {
  border-radius: 5px;
  object-fit: contain;
  margin: 20px 30px 20px 0;
  height: 400px;
  transition: transform 400ms;
}
.movie_poster {
  border-radius: 10px;
  object-fit: contain;
  margin-right: 30px;
  margin: 20px 30px 20px 0;
  height: 200px;
  transition: transform 400ms;
}
@media screen and (max-width: 976px) {
  .tv_poster {
    height: 300px;
  }
  .movie_poster {
    height: 150px;
  }
}
@media screen and (max-width: 725px) {
  .tv_poster {
    height: 200px;
  }
  .movie_poster {
    height: 110px;
  }
}
.underline {
  display: flex;
  outline: none;
  margin-left: auto;
  margin-right: auto;
  border: none;
  width: 200px;
  height: 2px;
  background-color: rgb(60, 122, 255);
  margin-bottom: 20px;
}

.arrow {
  outline: none;
  border: none;
  position: absolute;
  height: 240px;
  width: 100px;
  color: white;
  cursor: pointer;
}
.tv-arrow {
  outline: none;
  border: none;
  position: absolute;
  height: 420px;
  width: 100px;
  color: white;
  cursor: pointer;
}

.left {
  left: 0;
  background: -webkit-linear-gradient(
    right,
    transparent,
    rgba(0, 0, 0, 0.7),
    rgb(0, 0, 0)
  );
}
.right {
  right: 0;
  background: -webkit-linear-gradient(
    left,
    transparent,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 1)
  );
}
@media screen and (max-width: 976px) {
  .arrow {
    height: 170px;
    width: 90px;
  }
  .tv-arrow {
    height: 320px;
    width: 90px;
  }
}
@media screen and (max-width: 725px) {
  .arrow {
    height: 140px;
    width: 60px;
  }
  .tv-arrow {
    height: 220px;
    width: 60px;
  }
}
.md-icon {
  font-size: 30px;
}
@media screen and (max-width: 725px) {
  .md-icon {
    font-size: 20px;
  }
}
.movie-element {
  position: relative;
  text-align: center;
}
.info-text {
  background: transparent;
  border-radius: 10px;
  height: 200px;
  width: 356px;
  position: absolute;
  top: 20px;
  left: 0;
  transition: 400ms;
  color: transparent;
}
.tv-info-text {
  background: transparent;
  border-radius: 10px;
  height: 400px;
  width: 270px;
  position: absolute;
  top: 20px;
  left: 0;
  transition: 400ms;
  color: transparent;
}
.info-text:hover,
.tv-info-text:hover {
  background: rgba(0, 134, 175, 0.644);
  color: white;
}
.info-text h3,
.tv-info-text h3 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 976px) {
  .info-text {
    border-radius: 8px;
    height: 150px;
    width: 266px;
  }
  .tv-info-text {
    border-radius: 8px;
    height: 300px;
    width: 200px;
  }
  .info-text h3,
  .tv-info-text h3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 725px) {
  .info-text {
    border-radius: 8px;
    height: 110px;
    width: 196px;
  }
  .tv-info-text {
    border-radius: 8px;
    height: 200px;
    width: 133.4px;
  }
  .info-text h3 {
    font-size: 16px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .tv-info-text h3 {
    font-size: 16px;
  }
}
