.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brand {
  margin-left: 5%;
}
.brand-logo {
  height: 80px;
  width: 150px;
  cursor: pointer;
  float: right;
}
@media screen and (max-width: 725px) {
  .brand-logo {
    height: 50px;
    width: 100px;
  }
}
.nav-links {
  margin-right: 5%;
}
.nav-links li {
  list-style: none;
  display: inline-block;
}
.nav-links a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 3px;
  background-color: rgb(60, 122, 255);
  margin-right: 20px;
}
.nav-links a:hover {
  color: rgb(0, 60, 255);
  background-color: rgba(255, 255, 255);
  transition: 0.4s;
}
@media screen and (max-width: 725px) {
  .nav-links a {
    font-size: 12px;
    padding: 6px 10px;
  }
}
