.row {
  background-color: black;
  color: white;
  padding-top: 20px;
}
.row h3 {
  font-size: 28px;
  text-align: center;
  margin: 20px 0;
}
.row_posters {
  display: flex;
  overflow: hidden;
  overflow: auto;
  overflow-y: hidden;
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin-left: 20px;
}
.poster {
  border-radius: 10px;
  object-fit: contain;
  margin-right: 30px;
  margin: 20px 30px 20px 0;
  max-height: 200px;
  transition: transform 400ms;
}
.poster:hover {
  transform: scale(1.08);
}
.underline {
  display: flex;
  outline: none;
  margin-left: auto;
  margin-right: auto;
  border: none;
  width: 200px;
  height: 2px;
  background-color: rgb(60, 122, 255);
  margin-bottom: 20px;
}

.arrow {
  outline: none;
  border: none;
  position: absolute;
  height: 240px;
  width: 100px;
  color: white;
  cursor: pointer;
}
.left {
  left: 0;
  background: -webkit-linear-gradient(
    right,
    transparent,
    rgba(0, 0, 0, 0.7),
    rgb(0, 0, 0)
  );
}
.right {
  right: 0;
  background: -webkit-linear-gradient(
    left,
    transparent,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 1)
  );
}
.md-icon {
  font-size: 30px;
}
.movie-element {
  position: relative;
  text-align: center;
}
.info-text {
  background: transparent;
  border-radius: 10px;
  height: 200px;
  width: 356px;
  position: absolute;
  top: 20px;
  left: 0;
  transition: 400ms;
  color: transparent;
}
.info-text:hover {
  background: rgba(0, 134, 175, 0.644);
  color: white;
}
.info-text h3 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
